.Switch {
  .form-switch {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    padding-left: 0;
    margin-bottom: 0;

    .form-check-input {
      margin: -2px 0 0 0;
    }
  }
}