.main .content {
  padding: 15px !important;
}

.form-label {
  font-size: 14px;
  color: #1E2022;
  line-height: 20px;
  font-weight: 700;

  span.required {
    color: #ED4C78;
    font-weight: 600;
  }
}