@import url(./library/owl.carousel.min.css);
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Variables */
/* Set Breakpoints Value */
/* Function Media Query */
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/* https://chir.ag/projects/name-that-color */
.main .content {
  padding: 15px !important; }

.form-label {
  font-size: 14px;
  color: #1E2022;
  line-height: 20px;
  font-weight: 700; }
  .form-label span.required {
    color: #ED4C78;
    font-weight: 600; }

.Button.Button-badge {
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px; }
  .Button.Button-badge.btn-lg {
    font-size: 14px;
    line-height: 20px;
    padding: 4px 8px;
    border-radius: 5px; }

.Button.circle {
  border-radius: 50%; }

.Checkbox .form-check-label {
  font-size: 14px;
  line-height: 20px;
  color: #1E2022; }

.Card.card {
  border-radius: 0;
  box-shadow: none; }

.Card.small .card-header {
  padding: 8px 15px; }
  .Card.small .card-header .card-header-title {
    font-size: 14px;
    line-height: 24px; }

.Card.middle .card-header {
  padding: 8px 15px; }
  .Card.middle .card-header .card-header-title {
    font-size: 16px;
    line-height: 28px; }

.Card.dark .card-header {
  background: #E7EAF3; }
  .Card.dark .card-header .card-header-title {
    color: #132144; }

.Card.dark .Card-suffix-text, .Card.dark .Card-sortable-arrow, .Card.dark .Card-collapse-arrow {
  color: #132144; }

.Card.orange .card-header {
  background: #FD7E14; }

.Card.full-height {
  height: 100%; }
  .Card.full-height .card-body {
    min-height: calc(100% - 45px); }

.Card .card-header {
  background: #06C8A6; }
  .Card .card-header:first-child {
    border-radius: 0; }
  .Card .card-header .card-header-title {
    color: #ffffff;
    column-gap: 8px; }

.Card .card-body {
  padding: 15px; }

.Card-collapse-arrow, .Card-sortable-arrow {
  cursor: pointer;
  font-size: 16px;
  color: #fff; }

.Card-suffix-text {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff; }

.Card-editable-btn.Button {
  font-size: 14px;
  line-height: 20px;
  padding: 4px 15px; }

.DashboardTotalCard {
  position: relative;
  padding: 15px 8px 15px 15px;
  background: #E9F6F9;
  border-radius: 5px;
  overflow: hidden; }
  .DashboardTotalCard-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 16px;
    color: #132144;
    margin-bottom: 4px; }
  .DashboardTotalCard-value {
    font-size: 20px;
    color: #132144;
    line-height: 24px;
    font-weight: 700; }
  .DashboardTotalCard-icon {
    position: absolute;
    width: 38px;
    height: 38px;
    font-size: 38px;
    color: #fff;
    right: 10px;
    bottom: 0;
    display: flex; }
    .DashboardTotalCard-icon img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
      margin: auto; }

.Avatar {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center; }
  .Avatar .avatar-initials {
    color: #ffffff; }
  .Avatar-online {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #ffffff;
    background: #06C8A6;
    border-radius: 50%;
    pointer-events: none; }

.Table {
  overflow: auto; }
  .Table-empty {
    padding: 12px 15px;
    text-transform: uppercase;
    color: #677788;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700; }
  .Table-order {
    position: relative;
    margin-right: 4px; }
    .Table-order span {
      font-size: 28px;
      font-weight: 700;
      line-height: 48px;
      color: #E7EAF3;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #BDC5D1;
      position: relative;
      z-index: 2;
      letter-spacing: -2px;
      display: block;
      transform: translate(15%, 15%); }
    .Table-order::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 36px;
      height: 36px;
      background: url("../icons/icon-book-spell.svg");
      background-size: cover;
      background-position: center;
      content: '';
      z-index: 1; }
    .Table-order.birthday span {
      color: #FFE9DF;
      border-color: #FD7E14;
      transform: translate(15%, 20%); }
    .Table-order.birthday::before {
      background: url("../icons/icon-calendar-orange.svg");
      background-size: cover;
      background-position: center; }
    .Table-order.birthday::after {
      width: 11px;
      height: 14px;
      background: url("../icons/icon-birthday-hat.svg");
      position: absolute;
      z-index: 3;
      top: 14px;
      left: 5px;
      content: ''; }
  .Table table {
    width: 100%; }
    .Table table th,
    .Table table td {
      font-size: 14px !important;
      line-height: 20px;
      border: 1px solid #E7EAF3 !important;
      vertical-align: middle; }
    .Table table thead th {
      padding: 12px 15px;
      background: #F8FAFD;
      text-transform: uppercase;
      font-weight: 700 !important;
      color: #677788;
      white-space: nowrap;
      border-bottom: none; }
    .Table table tbody tr:nth-child(even) td {
      background: #F9FBFF; }
    .Table table tbody td {
      padding: 12px 15px;
      font-size: 14px;
      line-height: 20px; }
  .Table .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .Table .center {
    text-align: center;
    display: flex;
    justify-content: center; }
  .Table-link {
    color: #377DFF; }
  .Table-icon {
    display: flex; }
    .Table-icon img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
      margin: auto; }
  .Table-pagination {
    padding: 15px 35px; }
    .Table-pagination-perpage {
      font-size: 14px;
      line-height: 22px;
      color: #677788; }
      .Table-pagination-perpage span {
        position: relative;
        z-index: 2;
        pointer-events: none; }
      .Table-pagination-perpage .Select {
        margin-right: -10px; }
        .Table-pagination-perpage .Select .form-select {
          border: none; }
          .Table-pagination-perpage .Select .form-select .ts-input {
            min-height: auto;
            padding-top: 0 !important;
            padding-bottom: 0 !important; }

.JobCard {
  padding: 16px 12px;
  column-gap: 8px; }
  .JobCard.dark {
    background: #F9FBFF; }
  .JobCard-info-header {
    column-gap: 8px;
    margin-bottom: 8px; }
    .JobCard-info-header-title {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: #58637C; }
    .JobCard-info-header-status {
      column-gap: 8px; }
      .JobCard-info-header-status .Button {
        padding: 2px 14px;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        border-radius: 4px; }
  .JobCard-info-body-text {
    column-gap: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #58637C;
    margin-bottom: 4px; }
  .JobCard-info-actions {
    column-gap: 10px;
    padding-top: 8px;
    border-top: 1px dashed #E7EAF3; }
    .JobCard-info-actions .Button {
      font-size: 12px;
      line-height: 16px;
      padding: 4px 16px;
      border-radius: 2px; }

.ButtonOnTop {
  position: fixed;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #E7EAF3;
  bottom: 32px;
  right: 32px;
  transition: 0.3s ease;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10%); }
  .ButtonOnTop.active {
    pointer-events: unset;
    opacity: 1;
    transform: none; }

.ScrollSpy-wrapper {
  width: 100%; }
  .ScrollSpy-wrapper .nav .nav-item .nav-link {
    color: #8C98A4;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; }
    .ScrollSpy-wrapper .nav .nav-item .nav-link.active {
      color: #377DFF; }

.Accordion > .Card {
  margin: -1px; }

.Accordion .accordion-body {
  padding: 0; }

.Select .tom-select-custom {
  flex: 1; }
  .Select .tom-select-custom .ts-custom-placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }

.Select .input-group-merge {
  overflow: unset; }
  .Select .input-group-merge .form-control:not(:first-child),
  .Select .input-group-merge .form-select:not(:first-child) {
    padding-left: 2rem; }
  .Select .input-group-merge .form-select {
    background: transparent; }

.Select.suffix .form-select {
  background-image: none;
  border-top-left-radius: .3125rem !important;
  border-bottom-left-radius: .3125rem !important; }

.Select .tom-select-custom .ts-control.multi .ts-input {
  padding: 3px 2.25rem 3px 0; }
  .Select .tom-select-custom .ts-control.multi .ts-input.has-items {
    padding: .6125rem 2.25rem .6125rem 1rem; }

.DatePicker .flatpickr-input {
  flex: 1 !important; }

.Switch .form-switch {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  padding-left: 0;
  margin-bottom: 0; }
  .Switch .form-switch .form-check-input {
    margin: -2px 0 0 0; }

.TextArea .form-control {
  min-height: 72px; }

.Tab {
  overflow: auto;
  border-radius: .5rem; }
  .Tab .nav-segment {
    flex-wrap: nowrap; }
    .Tab .nav-segment .nav-link {
      border: 1px solid transparent;
      border-radius: 5px;
      font-size: 12px;
      line-height: 16px; }
      .Tab .nav-segment .nav-link.active {
        border-color: #E7EAF3;
        box-shadow: 0px 6px 12px rgba(140, 152, 164, 0.08); }
  .Tab .nav-link {
    white-space: nowrap; }
  .Tab.line-style .nav-segment {
    width: 100%;
    background: transparent;
    padding: 0;
    border-bottom: 1px solid #E7EAF3; }
    .Tab.line-style .nav-segment .nav-link {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      padding: 16px 32px;
      border-radius: 0;
      box-shadow: none;
      color: #677788;
      border: none;
      font-weight: 700; }
      .Tab.line-style .nav-segment .nav-link::before {
        position: absolute;
        height: 3px;
        content: '';
        width: 100%;
        background: #377DFF;
        bottom: 0;
        left: 0;
        transition: 0.3s ease;
        transform: scaleX(0); }
      .Tab.line-style .nav-segment .nav-link.active {
        color: #377DFF; }
        .Tab.line-style .nav-segment .nav-link.active::before {
          transform: scaleX(1); }

.Modal .modal-content {
  border-radius: 0; }

.Modal .modal-header {
  padding: 8px 32px;
  background: #E7EAF3;
  border-radius: 0; }
  .Modal .modal-header .modal-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #1E2022; }

.Modal .modal-body {
  padding: 32px; }

.Step {
  position: relative; }
  .Step-line {
    position: absolute;
    background: #E7EAF3;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%); }
    .Step-line-percent {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #377DFF; }
  .Step-item {
    position: relative;
    z-index: 2;
    flex: 1; }
    .Step-item.active .Step-item-circle {
      background: #377DFF;
      color: #ffffff;
      border-color: #377DFF; }
    .Step-item-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #E7EAF3;
      transition: 0.3s ease;
      margin: 0 auto 8px;
      font-size: 8px;
      background: #F9FBFF;
      color: #F9FBFF; }
    .Step-item-label {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #677788; }

.FieldEditable.header .FieldEditable-header {
  background: #F9FBFF; }
  .FieldEditable.header .FieldEditable-header-item {
    font-weight: 700; }

.FieldEditable-header {
  border-top: 1px solid #E7EAF3;
  min-height: 40px; }
  .FieldEditable-header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    color: #58637C; }
    .FieldEditable-header-item:not(:last-child) {
      border-right: 1px solid #E7EAF3; }
    .FieldEditable-header-item:nth-child(1), .FieldEditable-header-item:nth-child(2) {
      width: 25%; }
    .FieldEditable-header-item:last-child {
      width: 50%; }
    .FieldEditable-header-item-actions .Button {
      font-size: 12px;
      padding: 4px;
      border-radius: 0;
      width: 28px;
      height: 28px; }
      .FieldEditable-header-item-actions .Button:not(:first-child) {
        border-left: none; }
      .FieldEditable-header-item-actions .Button:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .FieldEditable-header-item-actions .Button:first-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
    .FieldEditable-header-item-collapse .Button {
      font-size: 12px;
      padding: 4px;
      border-radius: 0;
      width: 28px;
      height: 28px; }

.FieldEditable-body {
  border-top: 1px solid #E7EAF3;
  padding: 15px; }

.Header-title {
  font-size: 18px;
  color: #1E2022;
  font-weight: 600; }

.Header-account {
  padding: 0 0 0 12px;
  border-left: 1px solid #E7EAF3; }
  .Header-account-name {
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 4px;
    color: #000000; }
  .Header-account-job {
    font-size: 11px;
    line-height: 1;
    color: #000000; }

.Footer {
  text-align: center;
  margin-top: 22px; }
  .Footer.footer {
    height: auto;
    padding: 22px 0; }

.ModalConfirmSendForm-body .Table {
  margin: -12px -15px; }
  .ModalConfirmSendForm-body .Table td {
    border: none !important;
    background: #fff !important; }

.ModalConfirmSendForm-footer {
  margin: 32px -32px -32px;
  padding: 15px; }

.DashboardPage-total-cards {
  row-gap: 15px;
  column-gap: 15px; }
  .DashboardPage-total-cards .DashboardTotalCard {
    flex: 0 0 calc(100% / 5 - calc(15px * 4 / 5));
    max-width: calc(100% / 5 - calc(15px * 4 / 5)); }

.DashboardPage-users-item {
  column-gap: 12px;
  padding: 8px 15px; }
  .DashboardPage-users-item .Avatar {
    width: 28px;
    flex: 0 0 28px;
    max-width: 28px;
    height: 28px; }
    .DashboardPage-users-item .Avatar .avatar-img {
      width: 28px; }
  .DashboardPage-users-item:nth-child(even) {
    background: #F9FBFF; }
  .DashboardPage-users-item-suffix, .DashboardPage-users-item-title {
    font-size: 14px;
    line-height: 24px;
    color: #132144; }
  .DashboardPage-users-item-title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .DashboardPage-users-item-suffix {
    white-space: nowrap; }

.DashboardPage-birthday {
  padding: 64px 30px;
  background: #FFF8F5 url("../images/bg-birthday.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100%; }
  .DashboardPage-birthday .Avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 12px; }
  .DashboardPage-birthday-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #132144; }
  .DashboardPage-birthday-user {
    column-gap: 12px; }
    .DashboardPage-birthday-user .Table {
      margin: -1px;
      height: 100%; }
      .DashboardPage-birthday-user .Table table {
        height: 100%; }
    .DashboardPage-birthday-user-info-title {
      font-size: 14px;
      line-height: 24px;
      color: #132144; }
    .DashboardPage-birthday-user-info-description {
      font-size: 12px;
      line-height: 20px;
      color: #132144; }

.FormPage-submit {
  column-gap: 15px;
  row-gap: 15px;
  padding: 15px; }
  .FormPage-submit .Button {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
    border-radius: 5px; }

.FormPage-margin {
  margin-left: -1px;
  margin-right: -1px; }
  .FormPage-margin.bottom {
    margin-bottom: -1px; }

.FormPage-switch-wrapper {
  border: 1px solid #E7EAF3;
  border-radius: 5px;
  row-gap: 16px; }
  .FormPage-switch-wrapper .Switch {
    display: flex;
    justify-content: center;
    padding: 10px 4px; }
  .FormPage-switch-wrapper .col-3:not(:last-child) {
    border-right: 1px solid #E7EAF3; }

.FormPage-sublist-title {
  font-size: 14px;
  line-height: 20px;
  color: #58637C;
  padding: 10px 0; }

.FormPage-sublist-table {
  overflow: auto; }
  .FormPage-sublist-table table {
    width: 100%;
    margin: 0 -4px; }
    .FormPage-sublist-table table td {
      padding: 8px 4px;
      border-top: 1px solid #E7EAF3;
      color: #132144; }
    .FormPage-sublist-table table .Button {
      font-size: 12px;
      width: 20px;
      height: 20px;
      padding: 4px; }

.FormPage-trees {
  padding: 0 15px; }
  .FormPage-trees-wrapper {
    padding: 22px 32px; }
    .FormPage-trees-wrapper:not(:last-child) {
      border-bottom: 1px dashed #E7EAF3; }
    .FormPage-trees-wrapper-title {
      font-size: 14px;
      font-weight: 700;
      color: #1E2022;
      line-height: 20px;
      margin-bottom: 8px; }
  .FormPage-trees-group {
    padding-left: 28px; }
    .FormPage-trees-group-item {
      position: relative;
      padding: 8px 0 8px calc(16px + 8px); }
      .FormPage-trees-group-item::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border-left: 1px solid #BDC5D1;
        border-bottom: 1px solid #BDC5D1;
        top: 8px;
        left: 0;
        transform: translateY(-6px); }

.PreviewPage-submit {
  column-gap: 15px;
  row-gap: 15px;
  padding: 15px; }
  .PreviewPage-submit .Button {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
    border-radius: 5px; }

.PreviewPage-margin {
  margin-left: -1px;
  margin-right: -1px; }
  .PreviewPage-margin.bottom {
    margin-bottom: -1px; }

.PreviewPage-view-file {
  height: 690px;
  background: #ECECEC;
  border: 1px solid #E7EAF3; }
  .PreviewPage-view-file-header {
    border: 1px solid #E7EAF3;
    padding: 8px 20px;
    background: #E7EAF3; }
    .PreviewPage-view-file-header-title {
      font-size: 14px;
      font-weight: 700;
      color: #1E2022;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .PreviewPage-view-file-header-btns .Button {
      border-radius: 0;
      border: none; }
      .PreviewPage-view-file-header-btns .Button:not(:last-child) {
        border-right: 1px solid #E7EAF3; }
      .PreviewPage-view-file-header-btns .Button:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .PreviewPage-view-file-header-btns .Button:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
