extends includes/layouts/Guest.pug

block header
  - const pageTitle = 'Khai báo biểu mẫu theo quy trình'

block pages
  .FormPage 
    include ./includes/containers/ModalConfirmSendForm.pug

    .content.container-fluid
      .row 
        .col-lg-9
          +Card({ noPadding: true })
            .FormPage-submit.d-flex.flex-wrap.mb-3.border-bottom
              +Button({ title: 'Lưu nháp', icon: 'bi bi-save me-1', variant: 'btn-soft-dark' })  
              +Button({ title: 'Gửi duyệt', icon: 'bi bi-send me-1', variant: 'btn-soft-dark', modalId: 'ModalConfirmSendForm' })  
              +Button({ title: 'Duyệt', icon: 'bi bi-check-lg me-1', variant: 'btn-soft-dark' })  
              +Button({ title: 'Xem trước', icon: 'bi bi-eye me-1', variant: 'btn-soft-dark' })  
              +Button({ title: 'In', icon: 'bi bi-printer me-1', variant: 'btn-soft-dark' })  

            .accordion
              +Accordion({ className: 'FormPage-margin', mainId: 'thongtinbieuin', id: 'Accordion1', parentId: 'AccordionParent', title: 'Thông tin biểu mẫu' })
                form(action="#") 
                  .row
                    .col-6.mb-3
                      +Input({ label: 'Tên biểu mẫu', placeholder: 'Nhập tên XBP' })
                    .col-6.mb-3
                      +Input({ label: 'Mã biểu mẫu', placeholder: 'Nhập mã biểu mẫu', value: 'XBPA283029 (mã tự sinh không sửa)', disabled: true })
                    .col-4.mb-3
                      +Input({ label: 'Người tạo', placeholder: 'Nhập tên người tạo', value: 'Tự xuất bản' })
                    .col-4.mb-3
                      +DatePicker({ label: 'Ngày tạo', placeholder: 'Ngày tạo', iconSuffix: 'bi bi-calendar4-week' })
                    .col-4.mb-3
                      +Select({
                        label: 'Loại biểu mẫu',
                        placeholder: '--- Chọn loại biểu mẫu ---',
                        options: [
                          { label: 'Loại biểu mẫu 1', value: '1' },
                          { label: 'Loại biểu mẫu 2', value: '2' },
                          { label: 'Loại biểu mẫu 3', value: '3' },
                        ],
                        iconSuffix: 'bi bi-chevron-down',
                      })

              +Card({ className: 'FormPage-margin', title: 'Tên CỤM THÔNG TIN: Cụm Dữ liệu 1 (chưa đặt tên)', sortable: true, noPadding: true })
                .card-body
                  .row 
                    .col-6
                      +Input({ label: 'Tiêu đề cụm thông tin', placeholder: 'vd: Thông tin cơ bản' })
                    .col-6
                      +Select({
                          label: 'Kiểu độ rộng nhóm',
                          placeholder: '1 cột / 2 cột / 3 cột ',
                          options: [
                            { label: '1 cột', value: '1' },
                            { label: '2 cột', value: '2' },
                            { label: '3 cột', value: '3' },
                          ],
                          iconSuffix: 'bi bi-chevron-down',
                        })

                +Card({ className: 'FormPage-margin bottom', title: 'Các Field dữ liệu trong nhóm:', dark: true, editable: true, noPadding: true })
                  .accordion
                    +FieldEditable({
                      header: true,
                      title: 'Tên trường dữ liệu',
                      attribute: 'Thuộc tính',
                      id: 'ID',
                    })
                    +FieldEditable({
                      title: 'Tên tác giả',
                      attribute: 'Tên tác giả',
                      id: '#FCD0099',
                      accordionId: 'AccordionEditable1',
                      accordionParentId: 'AccordionEditableParent',
                    })
                    +FieldEditable({
                      title: 'Năm xuất bản',
                      attribute: 'Năm xuất bản',
                      id: '#FCD0099',
                      accordionId: 'AccordionEditable2',
                      accordionParentId: 'AccordionEditableParent',
                    })
                    +FieldEditable({
                      title: 'Nhà xuất bản',
                      attribute: 'Nhà xuất bản',
                      id: '#FCD0099',
                      accordionId: 'AccordionEditable3',
                      accordionParentId: 'AccordionEditableParent',
                    })
                    +FieldEditable({
                      title: 'Chưa có tiêu đề',
                      attribute: 'Chưa chọn',
                      id: '#FTC0099',
                      accordionId: 'AccordionEditable4',
                      accordionParentId: 'AccordionEditableParent',
                      defaultField: false,
                    })

              +Card({ className: 'FormPage-margin', title: 'Tên cụm THÔNG TIN: MÔ TẢ BẢN THẢO', sortable: true, noPadding: true })
                .card-body
                  .row 
                    .col-6
                      +Input({ label: 'Tiêu đề cụm thông tin', placeholder: 'vd: Thông tin cơ bản' })
                    .col-6
                      +Select({
                          label: 'Kiểu độ rộng nhóm',
                          placeholder: '1 cột / 2 cột / 3 cột ',
                          options: [
                            { label: '1 cột', value: '1' },
                            { label: '2 cột', value: '2' },
                            { label: '3 cột', value: '3' },
                          ],
                          iconSuffix: 'bi bi-chevron-down',
                        })

                +Card({ className: 'FormPage-margin bottom', title: 'Các Field dữ liệu trong nhóm:', dark: true, editable: true, noPadding: true })
                  .accordion
                    +FieldEditable({
                      header: true,
                      title: 'Tên trường dữ liệu',
                      attribute: 'Thuộc tính',
                      id: 'ID',
                    })
                    +FieldEditable({
                      title: 'Tên tác giả',
                      attribute: 'Tên tác giả',
                      id: '#FCD0099',
                      accordionId: 'AccordionEditable5',
                      accordionParentId: 'AccordionEditableParent',
                    })
                    +FieldEditable({
                      title: 'Năm xuất bản',
                      attribute: 'Năm xuất bản',
                      id: '#FCD0099',
                      accordionId: 'AccordionEditable6',
                      accordionParentId: 'AccordionEditableParent',
                    })
                    +FieldEditable({
                      title: 'Nhà xuất bản',
                      attribute: 'Nhà xuất bản',
                      id: '#FCD0099',
                      accordionId: 'AccordionEditable7',
                      accordionParentId: 'AccordionEditableParent',
                    })
                    +FieldEditable({
                      title: 'Chưa có tiêu đề',
                      attribute: 'Chưa chọn',
                      id: '#FTC0099',
                      accordionId: 'AccordionEditable8',
                      accordionParentId: 'AccordionEditableParent',
                      defaultField: false,
                    })
              

              +Accordion({ className: 'FormPage-margin', id: 'Accordion4', parentId: 'AccordionParent', title: 'Chữ ký các cấp', noPadding: true })
                form(action="#") 
                  .card-body
                    .row
                      .col-4
                        +Input({ label: 'Tiêu đề cụm thông tin', placeholder: 'Nhập tiêu đề cụm thông tin', value: 'Chữ ký các cấp' })
                      .col-4
                        +Select({
                          label: 'Kiểu độ rộng nhóm',
                          placeholder: '--- Chọn loại biểu mẫu ---',
                          options: [
                            { label: '1 cột', value: '1' },
                            { label: '2 cột', value: '2' },
                            { label: '3 cột', value: '3' },
                          ],
                          iconSuffix: 'bi bi-chevron-down',
                        })
                      .col-4.mb-3
                        +Checkbox({
                          classNameCheckbox: 'mt-2',
                          label: 'Hiện tiêu đề khi in',
                          title: 'Có',
                        })

                  +Card({ className: 'FormPage-margin bottom', title: 'Các Field dữ liệu trong nhóm:', dark: true, editable: true, noPadding: true })
                    .accordion
                      +FieldEditable({
                        header: true,
                        title: 'Tên trường dữ liệu',
                        attribute: 'Thuộc tính',
                        id: 'ID',
                      })
                      +FieldEditable({
                        title: 'Tên tác giả',
                        attribute: 'Tên tác giả',
                        id: '#FCD0099',
                        accordionId: 'AccordionEditable9',
                        accordionParentId: 'AccordionEditableParent',
                      })
                      +FieldEditable({
                        title: 'Năm xuất bản',
                        attribute: 'Năm xuất bản',
                        id: '#FCD0099',
                        accordionId: 'AccordionEditable10',
                        accordionParentId: 'AccordionEditableParent',
                      })

              +Accordion({ className: 'FormPage-margin bottom', id: 'Accordion5', parentId: 'AccordionParent', title: 'Tùy chỉnh biểu mẫu in' })
                +TextArea({ className: 'mb-3', label: 'Đầu trang in' })
                +TextArea({ className: 'mb-3', label: 'Cuối trang in' })

            #scrollSpyEnd

        .col-lg-3
          +ScrollSpy({
            title: 'Điều hướng trên trang',
            id: 'scrollSpy',
            parentId: 'scrollSpyParent',
            endId: 'scrollSpyEnd',
            options: [
              { link: '#thongtinbieuin', title: 'Thông tin biểu in' },
              { link: '#themnhomfield', title: 'Thêm nhóm Field' },
            ]
          })
