mixin DashboardTotalCard({ title, value, icon })
  .DashboardTotalCard
    .DashboardTotalCard-title= title
    .DashboardTotalCard-value= value
    .DashboardTotalCard-icon
      i(class=`${icon}`)
      //- img(src=`${icon}`, alt="")