mixin JobCard({ dark })
  .JobCard.d-flex.align-items-start(class=`${dark ? 'dark' : ''}`)
    .JobCard-avatar 
      +Avatar({ text: 'P', size: 'avatar-xs' })
    .JobCard-info 
      .JobCard-info-header.d-flex.align-items-center 
        .JobCard-info-header-title Phê duyệt XBP: Thế giới bên trong bất động sản: Mua, bán và tạo lợi nhuận trong thị trường bất động sản.
        .JobCard-info-header-status.d-flex 
          +Button({ title: 'Hủy', variant: 'btn-soft-danger' })
          +Button({ title: 'Chậm', variant: 'btn-soft-warning' })

      .JobCard-info-body
        .row 
          .col-6
            .JobCard-info-body-text.d-flex.align-items-start 
              <i class="bi bi-person-fill"></i>
              span Giao: TBBT Lê Văn Hân
          .col-6
            .JobCard-info-body-text.d-flex.align-items-start 
              <i class="bi bi-person-fill"></i>
              span Nhận: BTV Vũ Hoài Nam
          .col-6
            .JobCard-info-body-text.d-flex.align-items-start 
              <i class="bi bi-clock-fill"></i>
              span Bắt đầu:  31/09/22
          .col-6
            .JobCard-info-body-text.d-flex.align-items-start 
              <i class="bi bi-clock-history"></i>
              span Deadline: 31/09/22

        .JobCard-info-actions.d-flex 
          +Button({ title: 'Duyệt', variant: 'btn-primary' })
          +Button({ title: 'Từ chối', variant: 'btn-soft-dark' })
    