mixin Tab({ className = '', options = [], lineStyle, style = '' })
  .Tab(class=`${className} ${lineStyle ? 'line-style' : ''}` style=`${style}`)
    ul.nav.nav-segment(role="tablist")
      each item, index in options
        li.nav-item
          a.nav-link(class=`${index === 0 ? 'active' : ''}` id=`${item.id}` href=`#${item.tabId}` data-bs-toggle="pill" data-bs-target=`#${item.tabId}` role="tab" aria-controls=`${item.tabId}` aria-selected="true")= item.label
    